.main-input-container {
  max-width: 1092px;
  width: 270px;
  height: 600px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin: auto;
  margin-top: 82px;
  padding: 57px 95px 79px 30px;
}
