.button-group{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 0 0 12px 0;

.button{
    display: flex;
}
}
.main-hero{
    margin: 150px 0;
    
}
.user-details{

    margin-left: -110px;
}