.sidebar {
  width: 283px;
  height: 160vh;
  margin-top: 70px;
  //   overflow:auto;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);

  .top-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fullname {
      font-family: "Kotori Rose Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #ffffff;
      margin: 15.88px 0 10px 0;
    }

    .select-wrapper {
      padding: 0 24px 0 18px;
      width: 100%;
      max-width: 185px;
      border: 1px solid #ffffff;
      border-radius: 6px;
      height: 40px;
      overflow: hidden;
      select {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        color: #ffffff;
      }
    }
  }
  .links {
    //   margin-top: 40px;
    .title {
      width: 60px;
      height: 14px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #545f7d;
      margin: 0 45px;
    }
    .link-items {
      display: flex;
      align-items: center;
      gap: 22px;
      width: 364px;
      border-radius: 0px 50px 50px 0px;
      padding-left: 45px;

      
      &.active,
      &:hover {
        background: #39cdcc;
        opacity: 0.06;
        width: 240px;
        height: 40px;

        &::before {
            content: "";
            width: 3px;
            height: 40px;
            background: #39cdcc;
          }


        p {
          color: #213f7d;
        }
      }
      
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;

@media screen and (max-width: 768px) {
  .sidenav {
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
    display:block;
  }
}
    }
}
